// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.image-card{
    overflow:hidden;
    padding-bottom:100%;
}

#banner {
  background-image: url("./images/banner.jpg");
  height: 300px;
}
